/* -------------------------------------------------------------- 
  
   The Antioch Manifesto Project
   URL: http://antiochmanifesto.org
   
   Author: 	Levi Figueira
   			levi@bild.org
   
-------------------------------------------------------------- */

@import "lib/reset.css";
@import "lib/typography.css";
@import "lib/forms.css";

/* ----------------------------------------------------------- */

body {
	background-color: #121212;
	font-family: "Trebuchet MS", "Gill Sans", Arial, Helvetica, sans-serif;
}


/* ############################ */
/* +----- HEADER ---------------+ */

#header {
	width: 100%;
	height: 65px;
}

.homeheader {
	background: #4C4D4F url(bg_header.png) repeat-x;
}

.pageheader {
	background: #4C4D4F url(bg_pheader.png) repeat-x;
}

#header #logo {
	float: left;
	width: 280px;
	height: 25px;
	background: url(_navsprite.png) no-repeat;
	background-position: 0px -80px;
	margin: 15px 0 0 25px;
}

#header #logo a {
	display: block;
	height: 40px;
	margin: 0;
}

#header #topnav {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 550px;
	height: 40px;
}

#header #topnav ul {
	list-style: none;
}

#header #topnav ul li {
	float: left;
	background: url(_navsprite.png) no-repeat;
	height: 20px;
	margin-left: 40px;
}

#header #topnav ul li a {
	color: transparent;
	text-decoration: none;
	display: block;
	height: 40px;
}

#header #topnav ul li.menu1 {	width: 60px; background-position: 0px 0px;	 }
#header #topnav ul li.menu2 {	width: 40px; background-position: -80px 0px; }
#header #topnav ul li.menu3 {	width: 60px; background-position: -160px 0px;}
#header #topnav ul li.menu4 {	width: 75px; background-position: -240px 0px;}
#header #topnav ul li.menu5 {	width: 55px; background-position: -320px 0px;}


#header #topnav ul li.menu1:hover {	width: 60px; background-position: 0px -40px;   }
#header #topnav ul li.menu2:hover {	width: 40px; background-position: -80px -40px; }
#header #topnav ul li.menu3:hover {	width: 60px; background-position: -160px -40px;}
#header #topnav ul li.menu4:hover {	width: 75px; background-position: -240px -40px;}
#header #topnav ul li.menu5:hover {	width: 55px; background-position: -320px -40px;}


/* ############################ */
/* +----- CONTENT --------------+ */

/* This class applies the world background to the "viewpage" only, not in the homepage */
.cbg {
	background: url(bg_content.png) top center no-repeat;
	padding: 10px 0;
}

/* +----- HOME/Splash -----------+ */

#feature {
	width: 100%;
	height: 400px;
	background: #4C4D4F;
}

#feature #splash {
	width: 975px;
	height: 400px;
	margin: 0 auto;
	background: url(home_splash.png) top left no-repeat;
}

#feature #sb-wrap {
	float: left;
	width: 100%;
	height: 25px;
	background: url(bg_sb.png);
	margin: -30px 0 0 0;
	padding: 5px 0 0 0;
	text-align: center;
}

#feature #sb-wrap #sb {
	color: #fff;
	text-shadow: 0 0 1px #333;
	font-size: 14px;
	margin: 0;
	z-index: 999;
}

#feature #sb-wrap #sb a {
	color: #fff;
	text-decoration: underline;
}

#feature #sb-wrap #sb a:hover {
	text-shadow: 0 1px 1px #ccc;
}



/* +----- HOME/Sections ---------+ */

#sections {
	width: 100%;
	background: #333 url(bg_sections.png) top repeat-x;
}

#sections #switcher {
	width: 975px;
	margin: 0 auto;
	padding: 30px 0 0 50px;
}

#sections #switcher .sw-item {
	float: left;
	width: 120px;
	padding-left: 65px;
	margin: 0 0 20px 40px;
	line-height: 1.3;
	text-align: left;
}

#sections #switcher .sw-item h5 {
	font-size: 20px;
	font-weight: bold;
	color: #999;
	margin: 0 0 5px 0;
}

#sections #switcher .sw-item h5 a {
	color: #999;
	text-decoration: none;
}

#sections #switcher .sw-item h5 a:hover {
	color: #ccc;
	text-decoration: none;
}

#sections #switcher .sw-item p {
	font-size: 12px;
	color: #ccc;
}

#sections #switcher .sw-item p a {
	text-decoration: none;
	color: #ccc;
}

#sections #switcher .sw-item p a:hover {
	text-decoration: none;
	color: #fff;
}

#sections #switcher #sw-watch {
	background: url(sw_watch.png) top left no-repeat;
}

#sections #switcher #sw-read {
	background: url(sw_read.png) top left no-repeat;
}

#sections #switcher #sw-write {
	background: url(sw_write.png) top left no-repeat;
}

#sections #switcher #sw-discuss {
	background: url(sw_discuss.png) top left no-repeat;
}



/* +----- CONTENT/Viewpage ------+ */
#content #pheader {
	width: 975px;
	height: 50px;
	margin: 0 auto;
	background: rgb(33,33,33);
	background: rgba(33,33,33,.85);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#content #pheader h1 {
	float: left;
	text-align: left;
	color: #999;
	font-size: 30px;
	font-weight: 200;
	margin: 10px 10px 0 20px;
}

#content #pheader h5 {
	float: left;
	text-align: left;
	color: #999;
	font-size: 12px;
	margin: 20px 0 0 10px;
}

#content #pheader h5 a {
	color: #999;
	text-decoration: none;
}

#content #pheader h5 a:hover {
	color: #ccc;
}

/*#content #videoplayer {
    width: 975px;
    height: 405px;
    margin: 10px auto;
    padding: 0;
    background: #000;
}
*/
#content #pcontent {
	width: 935px;
	margin: 10px auto 20px auto;
	padding: 20px 20px 40px 20px;
	color: #ccc;
	background: rgb(33,33,33);
	background: rgba(33,33,33,.85);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#content #pcontent h4 {
	color: #ccc;
	font-size: 20px;
	border-bottom: 1px #666 dotted;
}

#content #pcontent #meta-float {
	float: right;
	width: 200px;
	height: 100px;
	margin: -50px 0 20px 10px;
	background: #333;
	border-left: 1px #666 dotted;
	padding: 5px;
	-moz-border-radius: 0 10px 0 0;
	-webkit-border-radius: 0 10px 0 0;
}

#content #pcontent #meta-float ul li {
	list-style: none;
	font-size: 0.8em;
}

#content #pcontent .entry-content {
	float: left;
	width: 700px;
	padding: 0 0 40px 0;
}

#content #pcontent .entry-content p {
	text-indent: 15px;
}
/*
#content #pcontent .entry-content strong, li, ul {
	margin-left: -15px;
}
*/
#content #pcontent #comments .comment {
	margin: 0 0 20px 10px;
}

#content #pcontent #comments ol {
	list-style-type: decimal;
	list-style-position: outside;
	color:#ccc;
}

#content #pcontent #comments .comment {
	margin: 0 0 20px 10px;
}

#content #pcontent .comments .comment-text {
	float: left;
	width: 610px;
	display: block;
	background: rgb(66,66,66);
	background: rgba(66,66,66,.95);
	padding: 15px;
	font-size: 1.1em;
}

#content #pcontent #comments .comment-text .edit-link {
	float: right;
	color: #ccc;
	font-size: 0.7em;
}

#content #pcontent #comments .comment-text .edit-link a {
	color: #ccc;
	text-decoration: none;
}

#content #pcontent #comments .comment-meta {
	float: right;
	width: 220px;
	margin: 0;
	display: block;
	padding: 10px;
	background: #333;
	border-left: 1px #666 dotted;
	font-size: 0.9em;
}

#content #pcontent #comments .comment-meta-title {
	text-transform: italic;
	font-size: 0.8em;
	color: #999;
}

#content #pcontent #comments .comment-meta a {
	color: #ccc;
	text-decoration: none;
}

#content #pcontent #comments .comment-meta ul li {
	padding: 0;
	margin: 0 0 0 -15px;
	list-style: none;
}


#content #pcontent #comments .comment-meta .openid_link {
	background: url(openid_small_logo.png) right 50% no-repeat;
	padding: 0 15px 0 0;
}

#content #pcontent #comments .comment-meta img {
	float: right;
	margin: -5px -20px 0 0;
}

#content #pcontent #comments #respond {
	clear: left;
}

#content #pcontent div#login {
	width: 450px;
	margin: 20px auto;	
	background: rgb(99,99,99);
	background: rgba(99,99,99,.95);
	padding: 50px 25px 10px 25px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#content #pcontent #login .login-label {
	font-size: 14px;
}

#content #pcontent #login #lock {
	float: right;
	margin: -30px 0 0 0;
	width: 16px;
	height: 16px;
	background: url(icons/lock.png) top center no-repeat;
	opacity: .5;
}

#content #pcontent #login form .login-remember, .forgetmenot { 
	font-weight: normal; 
	float: left; 
	margin: 10px 0 0 0;
}

#content #pcontent #login form .submit input {
	padding: 5px 10px;
	border: none;
	font-size: 16px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: default;
	text-decoration: none;
	float: right;	
	margin: 0;
}

#content #pcontent #login form #user_login,#user_pass,#user_email,#firstname,#lastname,#pass1,#pass2,#regcode {
	padding: 5px 10px;
	border: none;
	font-size: 20px;
	width: 430px;
	margin: 5px 6px 0 0;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;	
	margin: 0;
}

#content #pcontent #login form #privacy {
	float: left;
	clear: both;
	padding: 10px 0;
	font-size: 0.8em;
	line-height: 1.1em;
	font-style: italic;
}

#content #pcontent #login form #reg_passmail {
	display:none;
}

#content #pcontent #login #nav { 
	width: 400px;
	display: block;
	clear: both;
	margin: 0 auto; 
	padding: 30px 0 10px;
	text-align: center;
	
}

#content #pcontent #login #nav a { 
	color: #ccc;
	text-decoration: none;
	font-size: 1.2em;
}

#content #pcontent #login #whatisopenid a { 
	float: right;
	color: #ccc;
	text-decoration: none;
	border-bottom: 1px #ccc dotted;
	margin-left: 15px;
	font-size: 10px;
}

#content #pcontent #login .login-label #whatisopenid a:hover { 
	color: #fff;
	border-bottom: 1px #fff dotted;
}

#content #pcontent #login #nav a:hover { 
	color: #fff;	
}

#content #pcontent #backtoblog {
	width: 450px;
	margin: 10px auto;
}

#content #pcontent #backtoblog a {
	float: right;
	color: #ccc;
	text-decoration: none;
}

#content #pcontent #login_error, .message {
	width: 460px;
	margin: 20px auto;
	border-width: 1px;
	border-style: solid;
	padding: 19px;
}

#content #pcontent #login_error {
	color: #333;
	background: #FFEBE8;
	border-color: #CC0000;
}

#content #pcontent .message {
	color: #333;
	background: #FFFFE0;
	border-color: #E6DB55;
}

/*
#content #pcontent #login #openid_identifier {
	font-size: 20px;
	width: 422px;
	border: 1px #555;
	padding: 3px 3px 3px 24px;
	margin: 5px 6px 0 0;
}
*/

/* ############################ */
/* +----- FOOTER ---------------+ */

#footer {
	clear: both;
	padding-bottom: 40px;
}

#footer #network {
	position: absolute;
	margin-top: 20px;
	right: 20px;
	width: 160px;
}

#footer #network a {
	display: block;
	height: 45px;
	cursor: hand;
}

#footer #network #orcfoot a {
	float: left;
	width: 75px;
	height: 45px;
	background: url(footer-orc.png) no-repeat;
}

#footer #network #orcfoot a:hover {
	background-position: 0px -45px;
}

#footer #network #bildfoot a {
	float: left;
	width: 35px;
	height: 50px;
	margin-right: 30px;
	background: url(footer-bild.png) no-repeat;
}

#footer #network #bildfoot a:hover {
	background-position: 0px -50px;
}

#footer #copyright {
	float: left;
	margin: 30px 0 0 50px;
	font-size: 10px;
	color: #666;
}

#footer #copyright a {
	text-decoration: none;
	color: #999;
}

#footer #copyright a:hover {
	color: #ccc;
}





/* ############################ */
/* +----- MISC ------------------+*/

.clear {
	clear: both;
}

